*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    background-color: #000;
    color: #fff;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    overflow-x: hidden;
}

#main0{
    height: 100vh;
    width: 100%;
}

#main1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#main1 .main1-inner{
    height: 19vh;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}
#main1 .main1-inner h2{
    font-size: 6.9vw;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    display: inline-block;
}
#main1 .main1-inner h2.italic{
    font-family: silk serif;
    padding: 0 1vw;
}
