*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plain Light";
    background-color: #151515;
    color: #fff;
}
html, body{
    height: 100%;
    width: 100%;
}
#loader{
    height: 100vh;
    width: 100%;
    z-index: 99;
    position: fixed;
    padding: 11vh 9vw;

    /* display: none; */
}
#load1{
    font-size: 3.4vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    overflow: hidden;
    text-transform: uppercase;
}
#load1 .load1-text{
    display: flex;
    gap: 1.7vw;
    overflow: hidden;
}
#load1 .load1-text .load1-text-inner1{
    display: flex;
    align-items: flex-start;
    width: 16.5vw;
    gap: 1.5vw;
    padding: 1vw;
    font-size: 3vw;
}
#load1 .load1-text .load1-text-inner1 h4{
    font-family: "Silk Serif";
    font-weight: 100;
    text-align: right;
}
#load1 .load1-text .load1-text-inner1 h4:nth-child(1){
    width: 4.5vw;
}
#load2{
    padding: 6vh 22vw;
}
#load2 h4{
    font-size: .9vw;
    font-weight: 100;
    padding: .3vh;
    text-transform: capitalize;
}
#load1 .load1-text3{
    height: 25vh;
}
#load1 .load1-text3 h2{
    font-size: 7vw;
    animation: now 1.5s linear infinite;
    position: relative;
    bottom: .5vh;
}
@keyframes now {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px transparent;
        opacity: 1;
        color: white;
        font-weight: 100;
    }
    45%{
        font-family: "plain light";
        -webkit-text-stroke: 1px transparent;
        opacity: 0;
        color: white;
        font-weight: 100;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        opacity: 1;
        color: transparent;
        font-weight: 100;
    }
    95%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        opacity: 0;
        color: transparent;
        font-weight: 100;
    }
    100%{
        font-family: "plain light";
        -webkit-text-stroke: 1px transparent;
        opacity: 1;
        color: white;
        font-weight: 100;
    }
}





#page1{
    width: 100%;
    height: 100Vh;
    padding: 7vh 5vw 0 5vw;
}
#page1 #logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5vw;
}
#page1 #logo img{
    height: 2.4vh;
}
#page1 nav{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#page1 nav h4{
    font-weight: 400;
    font-size: .95vw;
}
#page1 nav #nav-middlePart h4 div{
    display:block;
    position: relative;
    top: -1.1vh;
    left: 2.5vw;
    width: .7vw;
    height: .1vh;
    color: white;
    background-color: #fff;
}
#page1 nav #nav-lastPart{
    display: flex;
    gap: 3.3vw;
}
#page1 nav #nav-middlePart{
    padding-right: 30vw;
}
#page1 #page1-bigtext{
    text-transform: uppercase;
    width: max-content;
    font-size: 3.5vw;
    margin: 15vh 0 0 23vw;
    letter-spacing: .4vw;
}
#page1 #page1-bigtext-inner{
    display: flex;
    gap: 1vw;
}
#page1 #page1-bigtext h1{
    margin-top: -2.5vh;
}
#page1 #page1-bigtext #page1-bigtext-inner{
    margin-bottom: 1.5vh;
    z-index: 999;
}
#page1 #page1-bigtext-inner>h1{
    font-size: 7.4vw;
}
#page1 #page1-bigtext .page1-bigtext-innerText h1{
    text-decoration: underline;
    text-underline-position: under;
}
#page1 #page1-bigtext .bottom{
    height: 0vh;
}
#page1 #scroll-btn{
    width: max-content;
    position: relative;
    top: 7vh;
    overflow: hidden;
    opacity: .3;
}
#page1 #scroll-btn h4{
    font-weight: 100;
}
#page1 #page1-bigtext .gsapAnime:nth-child(2){
    z-index: 99;
}
#page1 #page1-bigtext .page1-bigtext-innerText img{
    /* display: none; */
    z-index: -11;
    height: 50vh;
    width: 17vw;
    position: absolute;
    top: -17vh;

}

.mousefollower{
    height: 40px;
    width: 40px;
    background-color: transparent !important;
    mix-blend-mode: normal;
    border: 1px solid #fff;
}

#page2{
    width: 100%;
    height: 100Vh;
    background-color: #151515;
    position: relative;
    overflow: hidden;
}
#page2 #page2-inner img{
    height: 70vh;
    width: 64vw;
    margin: 10.5vh 0 0 34.8vw;
}
#page2 #page2-inner video{
    position: absolute;
    height: 75vh;
    width: 132.5%;
    top: 13vh;
    left: 1vw;
    z-index: -11;    
}
#page2 #page2-inner #playBtn i{
    padding: 4vw;
    top: 0;
    right: 12vw;
    background-color: #FFA63D;
    position: absolute;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 3vw;
}