* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection{
  color: #fff;
  background-color: black;
}



html,
body {
  height: 100%;
  width: 100%;
}

#page1 {
  min-height: 100vh;
  width: 100%;
  /* position: relative; */
  padding: 0 1vw;
  padding-top: 24vh;
}

#page1 h1 {
  font-size: 16vw;
  font-family: futura;
  line-height: 14vw;
  letter-spacing: -8px;
}

#video-container{
  height: 100vh;
  width: 100%;
  /* background-color: grey; */
  margin-top: 1vw;
  /* position: relative; */
}

#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#video-container #play {
  padding: 3vw 2VW;
  background-color: black;
  color: #fff;
  font-size: 1.5vw;
  text-transform: uppercase;
  font-family: futura;
  position: fixed;
  border-radius: 50%;
  opacity: 0;
  scale: 0;
  
}

#page2{
 min-height:100vh;
  width: 100%;
  /* position: relative; */
  display: flex;
  align-items: center;
  padding: 3vw 1vw;
  gap: 2vw;
  justify-content: space-between;
}

#page2 .elem{
  height: 90%;
  width: 90%;
  /* background-color: red; */
  overflow: hidden;
  position: relative;
}
#page2 .elem img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.1;
}

#page2 .elem .dets{
  height: 2vh;
  width: 2vw;
  /* height: 50px;
  width: 80px; */
  /* position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */
  background-color: red;
}
#page3{
  height: 100vh;
  width: 100%;
  
}

@media (max-width:600px){

  #page1 h1 {
      min-height: 70;
      font-size: 16vw;
      font-family: vhfutura;
      line-height: 14vw;
      letter-spacing: -2px;
  }
  
  #video-container{
      height: 30vh;
      width: 100%;
      margin-top: 3vw;
      position: relative;
  }
  #video-container #play {
      padding: 7.5vw 5.2VW;
      font-size: 4vw;
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      opacity: 1;
      scale: 1;
      transform: translate(-50%, -50%);
      
  }
  

/* #page2{
  min-height:100vh;
   width: 100%;
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 5vw 3vw;
   justify-content: space-between;
} */


}