*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html, body{
    width: 100%;
    height: 100%;
}

.content__item{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  width: 100vw;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  text-align: center;
  margin: 3vw;
}

.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 1.5px;
  background: currentColor;
  top: 50%;
  left: 0;
  pointer-events: none;
}
a{
  text-decoration: none;
  color: #000;
}
.link::before {
  content: '';
  /* show by default */
}
.link--metis::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}

.link--metis:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}