:root{
    --bg: "#fff";
    --text: "#000"
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
}

#page {
    min-height: 100vh;
    width: 100%;
    padding: 10px;
    background-color: #e5e5e5;
}

#image-container {
    display: flex;
    flex-wrap: wrap;
}

.image-div {
    height: 42vw;
    width: 30vw;
    overflow: hidden;
    margin: 30px;
}

.image-div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

h1{
    font-size: 10vw;
}


._canvas_container{
    z-index: 999999 !important;
}




#applebase{
    height: 300px;
}
#apple{
    display: flex;
    justify-content: flex-start;
    margin: 10px 40px;
    width: fit-content;
    height: fit-content;
    padding: 10px 30px;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #000000;
}
#apple img{
    height: 100px;
    width: 100px;
    object-fit: cover;
}
#apple #text{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#apple #text h3{
    font-weight: 500;

}
#apple #text h2{
    font-weight: 600;
}


#search{
    height: 200px;
    background-color: red;
}
#searchbox{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 100px;
}
#search #box1{
    width: 200px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}
#search #box1 h6{
    font-weight: 500;
}
#search #box2{
    width: 70px;
    height: 30px;
    background-color: rgb(23, 125, 0);
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
#search #box2 i{
    color: #ffffff;
}