#main{
    overflow:hidden;
  
  }
  
  section{
      height: 100vh;
    width:100vw;
  }
  
  .container{
    position: relative;
    display:flex;
    flex-direction:row;
    width: 100vw;
    height: 100vh;
    overflow:hidden;
  }
  
  .panel{
    width: 100vw;
    height:100%;
    display: flex;
  }
  
  .inner{
   width:100vw;
   display: flex;
   justify-content: center;
  }
  
  
  .orange{
    background-color:#FFB433;
  }
  .blue{
    background-color:#8F8FB5;
  }
  .green{
    background-color:green;
  }
  .red{
     background-color:#FF4545;
  }