*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}
.main{
    overflow: hidden;
}
.page1{
    height: 100%;
    width: 100%;
    position: relative;
    padding: 30px 60px 30px 30px;
}
.first{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 172px;
    position: relative;
}
.logo .name{
    font-size: 40px;
    font-weight: 100;
    color: rgb(255, 91, 32);
}
.logo .name span{
    font-weight: 700;
    top: -13px;
    position: relative;
    color: black;
}
.sun{
    height: 58px;
    width: 58px;
    background-image: linear-gradient(orangered,  red, orangered);
    position: absolute;
    border-radius: 50%;
    top: 22px;
    left: 110px;
    z-index: -1;
}
.info{
    width: 320px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
button{
    height: 45px;
    border: .5px solid rgb(193, 165, 165);
    border-radius: 24px;
    font-size: 17px;
    background-color: transparent;
    transition: all 0.4s ease;
    cursor: pointer;
}
.button1{
    width: 88px;
}
.button2{
    width: 98px;
}
.button3{
    width: 108px;
}
.button1, .button2, .button3{
    background: linear-gradient(to bottom, transparent 50%, #000000 50%);
    background-size: 100% 200%;
}
.button1:hover, .button2:hover, .button3:hover{
    color: white;
    background-position: bottom;
}
.second{
    display: flex;
    justify-content: space-between;
}
.second h3{
    padding-top: 465px;
    width: 430px;
    font-size: 26px;
    font-weight: 700;
}
.second h1{
    padding-top: 82px;
    width: 600px;
    font-size: 150px;
    font-weight: 700;
    text-align: right;
}
#space{
    position: relative;
    top: 70px;
}
#that{
    position: relative;
    top: 35px;
}

.bubble{
    width: 100vw;
    height: 100vh;
    /* background-color: lightblue; */
}
.page2{
    width: 100vw;
    height: 100vh;
    /* background-color: lightcoral; */
    position: relative;
}
.circle1{
    height: 500px;
    width: 900px;
    background-image: linear-gradient(rgb(255, 0, 0), rgb(255, 42, 0), rgb(255, 0, 0));
    border-radius: 40%;
    filter: blur(40px);
    position: absolute;
    top: 650px;
    right: -150px;
    animation: ani1 4s ease-in-out infinite alternate;
    z-index: -9;
}
@keyframes ani1 {
    from{
        transform: translate(0px) rotate(0deg) skewX(0deg);
    }
    to{
        transform: translate(-150px, 0px) rotate(2deg) skewX(-8deg);
    }
}
.circle1cover1{
    height: 400px;
    width: 300px;
    background-image: linear-gradient(to bottom, rgb(255, 38, 0), rgb(255, 38, 0), red);
    filter: blur(50px);
    position: absolute;
    top: 640px;
    left: 1300px;
    border-radius: 40%;
    animation: cover1 3s ease-in-out infinite alternate;
}
@keyframes cover1 {
    from{
        transform: translateY(0) rotate(0deg);
    }
    to{
        transform: translateY(-90px) rotate(-20deg);
    }
}
.circle1cover2{
    height: 400px;
    width: 300px;
    background-image: linear-gradient(to bottom, rgb(255, 38, 0), rgb(255, 30, 0), red);
    position: absolute;
    filter: blur(60px);
    border-radius: 40%;
    top: 630px;
    left: 1120px;
    animation: cover2 3s ease 4s infinite alternate;
}
@keyframes cover2 {
    from{
        transform: translate(0deg) rotate(0deg) skew(0deg);
    }
    to{
        transform: translate(-70px, -70px) rotate(240deg) skew(-20deg, 20deg);
    }
}
.circle1cover3{
    height: 400px;
    width: 400px;
    border-radius: 40%;
    filter: blur(50px);
    background-image: linear-gradient(to bottom, rgb(255, 38, 0), rgb(255, 30, 0), red);
    position: absolute;
    top: 650px;
    left: 850px;
    animation: cover3 3s ease-in-out 8s infinite alternate;
}
@keyframes cover3 {
    from{
        transform: translate(0px) rotate(90deg) skew(0deg);
    }
    to{
        transform: translate(-100px, -100px) rotate(90deg) skew(8deg, 8deg);
    }

}
.bottomborderline{
    border: 1px solid rgba(156, 142, 142, 0.47);
    position: relative;
    bottom: 725px;
    z-index: -1;
}
video{
    top: 780px;
    right: 15px;
    width: 1450px;
    border-radius: 20px;
    margin: 30px;
    position: absolute;
}
.continuecontainer{
    overflow: hidden;
}
.continue{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 150px;
    position: relative;
    padding-top: 300px;
    font-weight: 700;
    white-space: nowrap;
    animation: conti 12s linear infinite;
}
@keyframes conti {
	0% {
		left: 100%;
	}
	100% {
        left: -100%;
    }
}
.ecesun{
    display: flex;
    align-items: center;
    gap: 40px;
    padding-left: 40px;
}
.surya{
    height: 80px;
    width: 80px;
    background-image: linear-gradient(orangered,  red, orangered);
    border-radius: 50%;
}
.third{
    display: flex;
    position: relative;
}
.third h1{
    width: 1020px;
    font-size: 66px;
    font-weight: 700;
    padding: 100px 0 0 70px;
}
.third .leftcorner{
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 290px 0 0 10px;
}
.third .leftcorner .smallsun{
    width: 8px;
    height: 8px;
    background-image: linear-gradient(orangered,  red, orangered);
    border-radius: 50%;
}
.third .leftcorner h4{
    font-size: 14px;
    font-weight: 500;
}
.third .right{
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 260px 0 0 90px;

}
.third .right img{
    width: 300px;
    border-radius: 10px;
}
.third .right h5{
    width: 300px;
    line-height: 20px;
    font-size: 15px;
    font-weight: 500;
}
.circle2{
    height: 560px;
    width: 560px;
    background-image: linear-gradient(orangered,  rgb(255, 60, 0), orangered);
    border-radius: 50%;
    position: absolute;
    filter: blur(30px);
    top: 300px; 
    z-index: -9;
    left: 300px;
    animation: 3s linear 1s infinite alternate ani2;
}
@keyframes ani2 {
    from{
        transform: translate(90px, -100px) rotate(0) skew(0deg);
    }
    to{
        transform: translate(0px, 0px) rotate(90deg) skew(11deg);
    }
}
.forth{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    /* background-color: lightblue; */
}
.hoverimg{
    display: flex;
    /* background-color: lightcoral; */
    justify-content: space-between;
    height: 125px;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid rgb(182, 169, 169);
}
.hoverimg .left{
    font-size: 55px;
    word-spacing: -7px;
    font-weight: 700;
    padding: 0 30px 0 30px;
}
.hoverimg .right{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: right;
    padding: 0 30px 0 30px;
}
.hoverimg .right .right1st{
    font-size: 17px;
    font-weight: 100;
}
.hoverimg .right .right2nd{
    font-size: 16px;
    font-weight: 100;
    color: rgb(168, 153, 153);
}
.forth .hoverimg .effect{
    height: 100%;
    width: 100%; 
    position: absolute;
    top: -100%;
    background-color: rgb(255, 137, 34);
    transition: all ease 0.2s;
    z-index: -99;
}
.forth .hoverimg:hover .effect{
    top: 0;
}
.dataimghover{
    width: 300px;
    height: 400px;
    background-color: aquamarine;
    position: absolute;
    object-fit: cover;
    z-index: 898;
    border-radius: 10px;
    /* display: none; */
    left: 800px;
}