*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}


/* Exercise1 => */
/* .para{
    color: royalblue;
    text-transform: uppercase;
}
.newPara{
    background-color: red;
} */