@font-face {
  font-family: cooperLt;
  src: url(CooperLtBTWXXLight.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  width: 100%;
  height: 100%;
  background-color: red;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: cooperLt;
}

.swiper-slide img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.swiper-slide h2 {
  font-size: 3vw;
  width: 750px;
}
.swiper-slide .name div {
  width: 13px;
  height: 13px;
  border-radius: 100px;
  background-color: #00eb8f;
}
.swiper-slide .name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
  font-size: 1.3vw;
}
.swiper-slide h4 {
  margin-top: 10px;
  opacity: 0.5;
}
