*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    height: 100%;
    width: 100%;
    padding: 4vh 3vw;
}

#main nav{
    display: flex;
    gap: 2vw;
}

#main nav #select{
    border: .1vw solid #000;
    padding: .2vw;
    color: #000;
    font-weight: 500;
    font-size: 1vw;
    border-radius: .3vw;
}

#main nav #select option:nth-child(even){
    background-color: #dadadaa1;
}

#main nav #search{
    border: .1vw solid #000;
    padding: .3vw;
    border-radius: .3vw;
}

#main #products{
    margin-top: 5vh;
    display: flex;
    gap: 1.3vw;
    width: 100%;
    flex-wrap: wrap;
}

#main #products .product-details{
    width: 14.4vw;
    padding: 1.1vw;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    background-image: linear-gradient(to bottom, #dadada, #dadadaa1);
    border-radius: 1vw;
}

#main #products .product-details h2{
    font-size: 1.4vw;
    font-weight: 500;
}

#main #products .product-details .category{
    font-size: 1.1vw;
    font-weight: 500;
    color: #00000099;
}

#main #products .product-details p{
    font-size: .9vw;
    font-weight: 500;
    height: 12.5vh;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
}

#main #products .product-details button{
    padding: .4vw;
    color: #fff;
    font-size: 1vw;
    font-weight: 500;
    background-color: royalblue;
    border: none;
    border-radius: .5vw;
}