*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html, body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: #222;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main h1{
    font-size: 7vw;
    font-weight: 600;
    position: relative;
}
#main .glitch::before, #main .glitch::after{
    content: "GLITCH";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}
#main .glitch:hover::before{
    animation: glitch .3s linear infinite;
    color: rgba(255, 255, 255, 0.416);
    /* z-index: -2; */
}
#main .glitch:hover::after{
    animation: glitch .3s linear infinite reverse;
    color: rgba(255, 255, 255, 0.415);
    /* z-index: -1; */
}
@keyframes glitch{
    0%{
        top: 0;
        left: 0;
    }
    20%{
        top: 2px;
        left: 2px;
    }
    40%{
        top: 2px;
        left: -2px;
    }
    60%{
        top: -2px;
        left: 2px;
    }
    80%{
        top: -2px;
        left: -2px;
    }
    100%{
        top: 0;
        left: 0;
    }
}