*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html, body{
    height: 100%;
    width: 100%;
}
#page1{
    width: 100%;
    height: 150vh;
    background-image: linear-gradient(to right, #2E4462, #355368, #3D656F, #477B78, #4F8E7F, #59A487);
}
#page1 nav{
    padding: 6vh 7.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page1 nav #nav-right{
    display: flex;
    align-items: center;
    gap: 4vw;
}
#page1 nav #nav-right1st{
    display: flex;
    gap: 2.5vw;
}
#page1 nav #nav-right a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 1vw;
    font-weight: 500;
}
#page1 nav #nav-right button{
    padding: 1.5vh 2vw;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #ffffff56;
    color: white;
    border-radius: 8px;
}

