*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html, body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

img{
    height: 90vh;
    object-fit: cover;
    user-select: none;
    filter: drop-shadow(20px 20px 15px #ff5213);

}