*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "plain light";
}
html, body{
    height: 100%;
    width: 100%;
}
#loader{
    z-index: 99;
    position: fixed;
    height: 100vh;
    width: 100vw;
    font-size: 3vw;
    padding: 17vh 0 0 10vw;
    text-transform: uppercase;
    overflow: hidden;
}
#loading{
    display: flex;
    padding: 0 2vw 2vh 2vw;
    width: 17.6vw;
}
.load{
    display: flex;
    align-items: center;
    margin-top: 1vh;
    overflow: hidden;
}
#loader .load:nth-child(1) #loading h3, h4{
    font-size: 3.3vw;
    font-family: "silk serif";
    font-weight: 100;
}
#loader .load:nth-child(1) #loading h3{
    width: 6vw;
}
#loader .load:nth-child(1) h1{
    padding: 0 1vw 0 1vw;
    overflow: hidden;
}
#loader .load:nth-child(3) h2{
    height: 20.5vh;
    font-size: 6vw;
    padding: 1vw 0 0 2vw;
    text-transform: uppercase;
    animation: now 1.5s infinite linear;  
}
@keyframes now {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px transparent;
        opacity: 1;
        color: white;
        font-weight: 100;
    }
    45%{
        font-family: "plain light";
        -webkit-text-stroke: 1px transparent;
        opacity: 0;
        color: white;
        font-weight: 100;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        opacity: 1;
        color: transparent;
        font-weight: 100;
    }

    95%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        opacity: 0;
        color: transparent;
        font-weight: 100;
    }
    100%{
        font-family: "plain light";
        -webkit-text-stroke: 1px transparent;
        opacity: 1;
        color: white;
        font-weight: 100;
    }
}
#loader .load:nth-child(4){
    margin: 5vh 0 0 12vw;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    align-items: start;
}
#loader .load:nth-child(4) h6{
    opacity: 0;
}

#page1{
    height: 100vh;
    width: 100vw;
    background-color: #151515;
}
#page2{
    height: 100vh;
    width: 100vw;
    background-color: #151515;
}