*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    margin-top: 200px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    z-index: 23;
}
.box1{
    height: 40px;
    width: 40px;
    border: 3px solid black;
    border-radius: 8px;
    background-color: rgba(72, 60, 60, 0.304);
    color: rgb(9, 45, 77);
    text-align: center;
    padding-top: 4px;
    font-size: 26px;
    font-weight: 900;
}
.box2{
    height: 40px;
    width: 40px;
    border: 3px solid black;
    border-radius: 8px;
    background-color: rgba(72, 60, 60, 0.304);
    color: rgb(9, 45, 77);
    text-align: center;
    padding-top: 4px;
    font-size: 26px;
    font-weight: 900;
}
.box3{
    height: 40px;
    width: 40px;
    border: 3px solid black;
    border-radius: 8px;
    background-color: rgba(72, 60, 60, 0.304);
    color: rgb(9, 45, 77);
    text-align: center;
    padding-top: 4px;
    font-size: 26px;
    font-weight: 900;
}
.box4{
    height: 40px;
    width: 40px;
    border: 3px solid black;
    border-radius: 8px;
    background-color: rgba(72, 60, 60, 0.304);
    color: rgb(9, 45, 77);
    text-align: center;
    padding-top: 4px;
    font-size: 26px;
    font-weight: 900;
}
button{
    height: 50px;
    border: none;
    border-radius: 5px;
}
.check{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 80px;
}
.gotp{
    width: 80px;
    background-color: green;
    color: white;
    font-size: 17px;
}
.votp{
    width: 120px;
    background-color: red;
    color: white;
    font-size: 17px;
}

.otpmain{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    position: relative;
    bottom: 110px;
}
.otpbox{
    height: 40px;
    width: 40px;
    border: 1px solid black;
    border-radius: 8px;
    color: rgb(9, 45, 77);
    text-align: center;
    padding-top: 4px;
    font-size: 17px;
    font-weight: 700;
}