*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgb(255, 78, 78), blue, blue);
}
.cricket{
    display: flex;
    justify-content: space-evenly;
}
.container1, .container2, .container3{
    padding-top: 20vh;
}
.main1, .main2, .main3{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 285px;
    margin: auto;
    padding: 20px 10px;
    gap: 12px;
    text-align: center;
    border: solid 2px;
}
.span1, .span2, .span3{
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 17px;
}
.img1, .img2, .img3{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.name1, .name2, .name3{
    font-size: 25px;
    font-weight: 900;
    background-image: linear-gradient(to bottom, #FF9933, #FFFFFF, #128807);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.about1, .about2, .about3{
    color: rgb(138, 208, 231);
}
.frnd1, .frnd2, .frnd3{
    font-size: 19px;
    color: rgb(255, 194, 103);
    font-weight: 900;
}
.button1, .button2, .button3{
    border: none;
    border-radius: 10px;
    width: 115px;
    height: 30px;
    font-size: 15px;
    font-weight: 900;
    background-color: rgb(186, 238, 255);
    color: blue;
}